.root {
    -fx-background-color: #1d3649;
}

.label {
    -fx-font-size: 14px;
    -fx-text-fill: #333;
}

.label-background {
    -fx-background-color: #5aaafa;
    -fx-padding: 10px;
    -fx-text-fill: white;
}

.input-box {
    -fx-spacing: 5;
}

.text-field {
    -fx-pref-width: 300px;
}

.button {
    -fx-font-size: 14px;
    -fx-pref-width: 150px;
}

.response-label {
    -fx-font-size: 14px;
    -fx-text-fill: #333;
    -fx-padding: 10;
}
